@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.front-page {
  background-image: url(../public/header.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
  width: 600px;
}

@media all and (min-width:800px) {
  .front-page {
    background-image: url(../public/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    width: 900px;
  }
}

